{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'gpt/style.css' %}">
{% endblock %}
<div id="chat-container">
    <div id="chat-box">
        <div id="chat-header">Chat Interface</div>
        <div id="chat-content" style="white-space: pre-line;"> <!--줄바꿈--> 
            <!-- 메시지가 여기에 추가됩니다 -->
        </div>
        <form id="chat-form" action="chat" method="post" enctype="application/x-www-form-urlencoded">
            {% csrf_token %}
            <textarea id="question" name="question" placeholder="질문을 입력하세요..." onkeydown="ShiftEnter(event)"></textarea>
            <button id="text-button" type="submit" >Send</button>
        </form>
    </div>
</div>
<script src="{% static 'gpt/chat.js' %}"></script>
<script>
function ShiftEnter(event){
    if(event.keyCode == 13 && !event.shiftKey)
    {
        event.preventDefault(); 
        document.getElementById('text-button').click();
    }
}
</script>