html,body {
    margin: 0;
    height: 100%;
}

header {
    height: 67px;
    background-color: white;
    color: black;
    border-bottom: 1px solid #343a40;
}

header>nav {
    max-width: 1000px;
    padding: 12px 20px;
    margin: 0 auto;
}

header>nav>label {
    font-size: 32px;
    margin-top: 10px;
}

main {
    height: calc(100% - 120px);
    bottom: 0;
    padding: 0 15% 0 30%;
    margin: 0 auto;
    display: block;
    position: relative;
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 109%;
    border-right: 1px solid #343a40;
}

#chat-container {
    height: 100%;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#chat-content {
    width: 70%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
}

::-webkit-scrollbar {
    display: none;
}

.chat-message {
    max-width: 80%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
}

.user-message {
    font-size: 14px;
    padding: 12px 12px;
    background-color: #e9ecef;
    color: #212529;
    align-self: flex-end;
    text-align: right;
}

.bot-message {
    font-size: 14px;
    padding: 12px 12px;
    background-color: #868e96;
    color: #f8f9fa;
    align-self: flex-start;
    text-align: left;
    margin-left: 45px;
}

.bot-message::before {
    content: '';
    background-image: url('/static/gpt/image/ai.png');
    width: 30px;
    height: 30px;
    background-size: cover;
    position: absolute;
    left: 1px;
    top: 60;
    transform: translateY(-50%);
}

#chat-form {
    width: 77%;
    margin-left: 10%;
    display: flex;
}

textarea#question {
    flex: 1;
    font-size: 13px;
    border-radius: 20px;
    height: 40px;
    line-height: 3;
    text-indent: 10px;
}

button#text-button {
    margin-left: 10px;
    width: 45px;
    height: 45px;
    background-color: #343a40;
    border: none;
    border-radius: 40%;
    cursor: pointer;
    background-image: url('/static/gpt/image/uparrow.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.scroll-to-bottom {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 55%;
    bottom: 10%;
    display: none;
    background-color: #495057;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-image: url('/static/gpt/image/downarrow.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateX(-50%);
}

.scroll-to-bottom.show {
    display: block;
}

footer {
    max-width: 720px;
    margin: 0 auto;
    height: 20px;
    padding: 20px;
    text-align: center;
}

footer>p {
    font-size: 13px;
    margin: 0;
}